.orgs-filters {
  padding-bottom: 10px;
  border-bottom: solid 1px @grayDarker;
  margin-bottom: 10px;
}

.orgs-results {
}
.orgs-org {
  background-color: @white;
  border-bottom: solid 1px @grayLight;
}